@model TPLOCAL1.Models.Avis

@{
    Layout = "_Menu";
}

@{
    ViewBag.TitleHeader = "Validation";
}

<h4 style="text-align: left;">Votre formulaire a bien été pris en compte</h4>

<table class="form-table">
    <caption class="table-title">Informations personnelles</caption>
    <tr>
        <td>Nom</td>
        <td>@Model.Nom</td>
    </tr>
    <tr>
        <td>Prénom</td>
        <td>@Model.Prenom</td>
    </tr>
    <tr>
        <td>Sexe</td>
        <td>@Model.Genre</td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td>@Model.Adresse</td>
    </tr>
    <tr>
        <td>Code Postal</td>
        <td>@Model.CodePostal</td>
    </tr>
    <tr>
        <td>Ville</td>
        <td>@Model.Ville</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
</table>

<table class="form-table">
    <caption class="table-title">Informations sur la formation</caption>
    <tr>
        <td>Date de début</td>
        <td>@Model.DateDebut.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>Formation suivie</td>
        <td>@Model.Cours</td>
    </tr>
</table>

<table class="form-table">
    <caption class="table-title">Avis sur la formation</caption>
    <tr>
        <td>Formation Cobol</td>
        <td>@Model.Cobol</td>
    </tr>
    <tr>
        <td>Formation C#</td>
        <td>@Model.CSharp</td>
    </tr>
</table>
